* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(24, 27, 32);
}

h1 {
    margin: 0px;
}

#headerContainer {
    text-align: center;
    color: white;
    padding: 10px;
}

#gameContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: min(800px, 100vw);
    height: auto;
}

canvas {
    display: block;
    max-width: 100%;
    height: auto;
}

#backButton {
    width: 350px;
    height: 75px;

    font-size: 24px;
    font-weight: bold;

    color: #ffffffe9;
    background-color: rgb(24, 27, 32);
    border: 5px solid rgb(103, 43, 43);
    border-radius: 12px;
    cursor: pointer;
    font-family: "WDXL Lubrifont JP N", serif;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#backContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#backButton:hover {
    background-color: #730c0cd6;
}

